<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"  
		xmlns:h="http://xmlns.jcp.org/jsf/html">
<head>
<meta charset="ISO-8859-1"> </meta>
<title>Register</title>
</head>
<body>

<!-- just playing around with forms  -->
    
      <h:form>
         <h:panelGrid id = "panel" columns = "2" border = "1"
            cellpadding = "10" cellspacing = "1">
            
            <f:facet name = "header">
               <h:outputText value = "Register"/>
            </f:facet>
            
            <h:outputLabel value = "First Name" />
            <h:inputText label="First Name"
                       		id="FirstName" 
                       		value="#{UserDataBean.firstName}"
                     	  	required="true"/> 
            
            <h:outputLabel value = "Surname" />
            <h:inputText label="Surname"
                       		id="surname" 
                       		value="#{UserDataBean.surname}"
                     	  	required="true"/> 
            
            <h:outputLabel value = "Email address" />
            <h:inputText label="emailAddress"
                       		id="emailAddress" 
                       		value="#{UserDataBean.emailAddress}"
                     	  	required="true"/> 
                     	  	
            <h:outputLabel value = "Password" />
            <h:inputSecret label="Password"
                       		id="password" 
                       		value="#{UserDataBean.password}"
                     	  	required="true"/> 
                     	  	
           
            
            <f:facet name = "footer">
               <h:panelGroup style = "display:block; text-align:center">
                   <h:commandButton id = "submit" 
                   					value="Submit"
                   					action="LogIn.xhtml"
                   					
                   					>
	                   	
	                	 	<f:actionListener binding="#{UserDataBean.saveNewUser()}" />
	                
                   					

					</h:commandButton>
                   					


                  
               </h:panelGroup>
            </f:facet>
         </h:panelGrid>
      </h:form>
      





</body>
</html>